*.egg
*.egg-info
*.pyc
*$py.class
*~
*__pycache__
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
virtualenv/
venv/

.coveragerc
.idea/
kh_reminder.cert
kh_reminder.pem
kh_reminder.sqlite
production.ini
pytest.ini
uwsgi.ini
setup.py
.appdata
