{% extends "ui_layout.jinja2" %}

{% block body %}

        <form action="/attendant/modify" method=post id=attendant_form>
            {% if attendant %}
              {% if exists %}
                <h1>Modify Attendant</h1>
              {% else %}
                <h1>Add Attendant</h1>
              {% endif %}
                <fieldset>
                        <input type=hidden name=came_from value="{{ came_from }}" />
                        <input type=hidden name=id value="{{ attendant.id }}" />
                    <div>
                        <input type=text name=fname placeholder=Firstname value="{{ attendant.fname }}" />
                    </div>
                    <div>
                        <input type=text name=lname placeholder=Lastname value="{{ attendant.lname }}" />
                    </div>
                    <div>
                        <input type=text name=email placeholder=Email value="{{ attendant.email }}" />
                    </div>
                    <div>
                        <input type=tel name=phone id=phone placeholder=Phone value="{{ attendant.phone }}" />
                        <a onclick="test_sms();" href=#>send test sms</a>
                    </div>
                    <br>
                    <div>
                        <h4>Alerting</h4>
                            <div>
                                <input type="checkbox" name="send_email" {% if attendant.send_email == 1 %}checked{% endif %}>Email
                            </div>
                            <div>
                                <input type="checkbox" name="send_text" {% if attendant.send_sms == 1 %}checked{% endif %}>Text
                            </div>
                    </div>
                      <button type=button class="btn btn-success" name=action value="submit" onclick="submit_form();">Submit</button>
                    {% if exists %}
                      <button type=submit class="btn btn-danger" name=action value="delete" style="margin-left: 80px;">Delete</button>
                    {% endif %}
                </fieldset>

            {% else %}
                <h1>Add Attendant</h1>
                <fieldset>
                    <div>
                        <input type=text name=fname placeholder=Firstname />
                    </div>
                    <div>
                        <input type=text name=lname placeholder=Lastname />
                    </div>
                    <div>
                        <input type=text name=email placeholder=Email />
                    </div>
                    <div>
                        <input type=tel name=phone id=phone placeholder="10 digit phone" />
                    </div>
                    <br>
                    <div>
                        <h4>Alerting</h4>
                            <div>
                                <input type="checkbox" name="send_email">Email
                            </div>
                            <div>
                                <input type="checkbox" name="send_text" checked>Text
                            </div>
                    </div>
                    <button type=button class="btn btn-success" name=action value="submit" onclick="submit_form();">Submit</button>
                </fieldset>
            {% endif %}
        </form>

        <script>
            function validate_number(phone) {
                if (phone.match(/^[0-9]{10}$/)) {
                    return true;
                } else {
                    return false;
                }
            }

            function test_sms() {
                phone = document.getElementById("phone").value;

                if (!validate_number(phone)) {
                    alert("invalid phone number");
                    return;
                }

                var xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        var response = JSON.parse(xhr.responseText);
                        alert(response.status);
                    }
                }

                data = {"phone": phone};

                xhr.open('POST', '/notify_api', true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(data));
            }

            function submit_form() {
                form = document.getElementById("attendant_form");

                if ((form.phone.value || form.send_text.checked) && !validate_number(form.phone.value)) {
                    alert("invalid phone number");
                    return;
                }

                form.submit();
            }
        </script>

{% endblock %}
