{% extends "ui_layout.jinja2" %}

{% block body %}

            <h1>Modify Meeting</h1>
            <table class="table table-hover table-bordered table-sm">

                <thead>
                    <tr>
                        <th>Date</th>
                        {% for th in meeting.assignment_types.split(',') %}
                            <th>
                                {% for text in th.split('\n') %}
                                    {{ text }}<br>
                                {% endfor %}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tr>
                    <td>
                        {{ meeting.date }}<br>
                        {{ meeting.meeting_type }}<br>
                    </td>
                    {% for meeting_type in meeting.assignment_types.split(',') %}
                      <td>
                      {% for assgmt in meeting.assignments %}
                        {% if assgmt.assignment_type in meeting_type %}
                            <a onclick="modifyName('{{ assgmt.attendant }}', '{{ assgmt.id }}', this)" href=#>{{ assgmt.attendant }}</a><br>
                        {% endif %}
                      {% endfor %}
                      </td>
                    {% endfor %}
                </tr>

            </table>

            {% if next_meeting %}
                <a class="careful" href=# onclick="sendReminders('{{ meeting.id }}')" href=#>Send Reminders for this Meeting</a>
            {% endif %}

        <script>
            function modifyName(name, assignment_id, link) {
                var current_name = link.innerHTML;
                var new_name = prompt("Modify Attendant", name);

                if (new_name == null || new_name == current_name) {
                    return;
                }

                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (xhr.status == 200) {
                            var response = JSON.parse(xhr.responseText);
                            link.innerHTML = new_name;
                            location.reload();
                        } else {
                            alert("ERROR");
                        }
                    }
                }

                data = {"assignment_id": assignment_id, "name": new_name};

                xhr.open('POST', '/schedule/modify_api', true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(data));
            }

            function sendReminders(meeting_id) {
                var xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function() {
                    if (this.readyState == 4) {
                        if (xhr.status == 200) {
                            var response = JSON.parse(xhr.responseText);
                            alert(response.status);
                            location.reload();
                        } else {
                            alert("ERROR");
                        }
                    }
                }

                data = {"meeting_id": meeting_id};

                xhr.open('POST', '/notify_api', true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(data));
            }
        </script>

{% endblock %}
