{% extends "ui_layout.jinja2" %}

{% block body %}

            <h1>Schedule</h1>
            <form action="/schedule" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                <label for="pdf">Upload Schedule</label>
                <input name="pdf" type="file" value="" />
                <input type="submit" value="upload" />
            </form>
            <table class="table table-hover table-bordered table-sm">

                <thead>
                    <tr>
                        <th></th>
                        {% for th in assignment_types %}
                            <th>
                                {% for text in th.split('\n') %}
                                    {{ text }}<br>
                                {% endfor %}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>

                {% for meeting in meetings %}
                        <tr {% if meeting.date == next_date %} bgcolor="#ccc" {% endif %}>
                            <td>
                                <a href="/schedule/modify?meeting_id={{ meeting.id }}">
                                  {{ meeting.date.strftime("%B %d") }}<br>
                                  {{ meeting.meeting_type }}<br>
                                </a>
                            </td>
                            {% for meeting_type in meeting.assignment_types.split(',') %}
                              <td>
                              {% for assignment in meeting.assignments %}
                                {% if assignment.assignment_type in meeting_type %}
                                  {% if assignment.attendant in attendants %}
                                    <a href="/attendant/modify?attendant_id={{ attendants[assignment.attendant] }}">
                                      {{ assignment.attendant }}
                                    </a><br>
                                  {% else %}
                                    <a id="missing" href="/attendant/modify?assignment_id={{ assignment.id }}">
                                      {{ assignment.attendant }}
                                    </a><br>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}
                              </td>
                            {% endfor %}
                        </tr>
                {% endfor %}

            </table>
            <a class="careful" href="/schedule?flush">Flush Schedule</a>
{% endblock %}
